body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navbar {
  background-color: hsl(0, 0%, 97%) !important;
}

/* .navBar-container {
  height: 60px;
  padding: 10px;
  background-color: #6286a8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
} */

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  /* color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block; */
  background: url("images/calendar.png");
  background-size: contain;
  background-repeat: no-repeat;
  /* width: 20px;
  height: 20px;
  border-width: thin;
  justify-content: right; */
}

.results-container {
  width: 100vw;
}

.trips-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.trip-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .trip-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chart-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.trip-history-pie-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
}

.pie-chart {
  width: 30%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.map-chart {
  width: 80%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.table-container {
  margin-bottom: 4em;
  justify-content: left;
}

.navigate-home-container {
  padding-top: 8em;
  text-align: center;
  padding-top: 5em;
}

.loading-data-container {
  padding-top: 8em;
  text-align: center;
}

/* Confirmation Page CSS */
.confirmation-page-graph {
  width: 70%;
}

.table-width {
  width: 90%;
}

@media (max-width: 1000px) {
  .confirmation-page-graph {
    width: 90%;
  }
  .table-width {
    width: 90%;
  }
}

@media (max-width: 1000px) {
  .confirmation-page-graph {
    width: 90%;
  }
}
/* Confirmation Page CSS */
.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.trip-result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding: 2em; */
}

.trip-analysis {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 2em;
}

.trips-bar-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
}

.trips-bar-chart-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 2em;
}

.search-button {
  background-color: rgb(1, 12, 112) !important;
}

.navigate-home-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container {
  background: url("images/logo.png");
  background-repeat: no-repeat;
  background-size: auto;
  width: 400px !important;
  border: none;
  margin-top: 10px;
  margin-left: 30px;
}

.search-container {
  padding-top: 12em;
  /* background: url("images/hero-image.jpg") no-repeat center center fixed; */
  background: url(images/5.png) no-repeat center center fixed;
  height: 100vh;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.input-container {
  width: 70%;
  margin: 0 auto;
}

.box-test {
  padding-top: 50px;
  padding-bottom: 50px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.7);
}
