body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navBar-container {
  height: 60px;
  padding: 10px;
  background-color: #6286a8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.results-container {
  width: 100vw;
}

.trips-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
