body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.navBar-container {
  height: 60px;
  padding: 10px;
  background-color: #6286a8;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
  -webkit-appearance: none;
}

.results-container {
  width: 100vw;
}

.trips-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.trip-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 800px) {
  .trip-detail-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .chart-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.chart-container {
  display: flex;
  width: 100%;
  align-items: flex-start;
  justify-content: space-around;
}

.pie-chart {
  width: 30%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.map-chart {
  width: 60%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.table-container {
  margin-bottom: 4em;
}

.container {
  padding-top: 5em;
}

.loading-data-container {
  padding-top: 8em;
  text-align: center;
}

.result-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.trip-result-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  /* padding: 2em; */
}

.trip-analysis {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
  padding: 2em;
}

.trips-bar-chart {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 2em;
}

.trips-bar-chart-selector {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  padding: 2em;
}

.navigate-home-container {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}


